<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="container">
    
        <header>
            <%- include('../partials/header'); %>
        </header>
    
        <main>
            <div class="jumbotron">
                <h1>Edit Your Destination</h1>
                <p>Review the list of destinations and select which destination
                    you would like to edit the place you'll visit while you're there.
                </p>
                <form action="/process_form" method="POST">
                    <h5>New Location to sightsee (only edit the sightseeing field) </h5>
                    <div class="form-group">
                        <input type="number" name="id" id="id" class="form-control" placeholder="choose id">
                        <label for="country" class="form-label"> </label>
                        <input type="text" name="country" id="country" class="form-control" placeholder="Enter Country">
                        <br>
                        <input type="text" name="city" id="city" class="form-control" placeholder="Enter City">
                        <br>
                        <input type="text" name="sightseeing" id="sight" class="form-control" placeholder="Enter sightseeing">
                        <br>
                        <input class="btn btn-lg btn-primary btn-block" type="submit">
                    </div>
                </form>
                <% if(locals.updated) { %>
                    <label><%= locals.updated %></label>

                    

                <%} %>
            </div>
        </main>

    </body>


</html>